body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F7FAFF;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.header {
  width: 100%;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.nav-left {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 15px 70px;
}

.appname {
  text-decoration: none;
  font-weight: 900;
  font-size: 24px; 
  color: #252B42;
  padding-right: 40px; 
  padding-left: 100px;
}

.navlinkA {
  list-style: none;
  display: flex;
  padding: 0px;
  gap: 21px;
}

.navlinkA li a {
  text-decoration: none;
  color: #737373;
  font-weight: 500;
  font-size: 16px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 300px;
}

.navlinkB {
  display: flex;
  gap: 21px;
}

.login-btn {
  background: none;
  color: #23A6F0;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
}

.join-btn {
  background: #23A6F0;
  color: white;
  border-radius: 8px;
  border: 2px solid #23A6F0;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.header-container-left {
  display:flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 50px 0px 100px 100px;
}

.h4-1 {
  color: #23A6F0;
  font-weight: 600;
}

.h1-1 {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

.p-1 {
  font-size: 16px;
  color: #737373;
  margin: 25px 0;
}

.container-left-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.btn-1 {
  background: #23A6F0;
  color: white;
  border-radius: 5px;
  border: 2px solid #23A6F0;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.btn-2 {
  background: none;
  color: #23A6F0;
  border: 1px solid #23A6F0;
  border-radius: 4px;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.header-container-right{
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding: 0 100px 0 350px;
}

.doc-image {
  max-width: 100%;
  height: auto;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .appname {
    padding-left: 50px;
    padding-right: 50px;
  }
  .nav-right {
    padding: 15px 50px 15px 20px; 
  }
  .header-container-left {
    padding: 0 30px 0 50px; 
  }
  .header-container-right {
    padding: 0 50px 0 30px; 
  }
  .h1-1 {
    font-size: 48px;
  }
}

@media (max-width: 992px) {
  
  .navbar {
    flex-direction: column; 
  }

  .nav-left {
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
  }
  
  .appname {
    padding-left: 0;
    margin-right: 20px;
  }

  .nav-right {
    width: 100%;
    justify-content: center;
    padding: 15px 0;
  }
  

  .header-container {
    flex-direction: column; 
    padding: 50px 0 50px 0;
  }

  .header-container-left {
 
    align-items: center; 
    text-align: center;
    padding: 20px; 
  }

  .p-1 br {
    display: none;
  }

  .header-container-right {
    padding: 20px;
    justify-content: center;
  }
  
  .doc-image {
    max-width: 80%; 
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 576px) {
  
 .nav-left {
    flex-direction: column;
  }

  .appname {
    margin-bottom: 10px;
    margin-left: 70px;
  }

  .navlinkA {
    flex-wrap: wrap; 
    justify-content: center;
  }
  
  .h1-1 {
    font-size: 38px;
  }

 
  .container-left-btn {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  
  .btn-1, .btn-2 {
    width: 90%; 
  }

  .header-container-right {
    margin-right: 40px;
    padding: 20px;
    justify-content: center;
  }
}


.activity {
  width: 100%;
  padding: 80px 0;
}

.activity-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.activity-container-top {
  width: 100%;
  display:flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-left: 170px;
}

.p-2 {
  font-size: 14px;
  color: #737373;
  margin-top: 10px;
}

.h1-2 {
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}

.activity-container-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 30px;
  padding: 70px 200px;
}

.activity-container-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  padding: 20px 150px 20px 50px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-shrink: 1;
}

.phone-image {
  max-width: 100%;
  height: auto;
}

.line-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .activity-container-top {
    max-width: 90%;
    text-align: center;
    align-items: center;
}
  
  .activity-container-bottom {
    flex-wrap: wrap; 
    padding: 40px 20px;
  }
  
  .activity-container-box {
    width: 90%;
    max-width: 450px;
    margin-bottom: 20px; 
  }
}

@media (max-width: 576px) {
    .activity-container-box {
    width: 95%;
  }
}