body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: inherit;
}

.header {
  width: 100%;
  display: flex;
  background-color: #ca370a;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  padding: 25px 0px; 
}

.appname {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  margin: auto 120px auto 200px;
  padding: auto;
}

nav {
  display: flex;
  align-items: center;
}

.navlinkA {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 21px;
}

.navlinkB {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 21px;
}

.login-btn {
  background: none;
  color: #23A6F0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.join-btn {
  background: #23A6F0;
  color: white;
  border-radius: 8px;
  border: 2px solid #23A6F0;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}