
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F7FAFF;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Header sectiom */
.header {
  width: 100%;
  max-width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
}

.nav-left {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 40px;
}

.appname {
  text-decoration: none;
  font-weight: 900;
  font-size: 24px; 
  color: #252B42;
  white-space: nowrap;
}

.appname h2 {
  margin: 0;
}

.navlinkA {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 21px;
}

.navlinkA li a {
  text-decoration: none;
  color: #737373;
  font-weight: 500;
  font-size: 16px;
  position: relative; 
  display: inline-block;
}

.navlinkA li a::after,
.navlinkA li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.navlinkA li a::before {
  top: -5px;
  transform-origin: left;
}

.navlinkA li a:hover::after,
.navlinkA li a:hover::before {
  transform: scaleX(1);
}


.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navlinkB {
  display: flex;
  gap: 21px;
}

.login-btn {
  background: none;
  color: #23A6F0;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
}

.join-btn {
  background: #23A6F0;
  color: white;
  border-radius: 8px;
  border: 2px solid #23A6F0;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.header-container-left {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.h4-1 {
  color: #23A6F0;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.h1-1 {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

.p-1 {
  font-size: 16px;
  color: #737373;
  margin: 25px 0;
}

.container-left-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.btn-1 {
  background: #23A6F0;
  color: white;
  border-radius: 5px;
  border: 2px solid #23A6F0;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.btn-2 {
  background: none;
  color: #23A6F0;
  border: 1px solid #23A6F0;
  border-radius: 4px;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.header-container-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.doc-image {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Activity section */

.activity {
  width: 100%;
  max-width: 100%;
  padding: 150px 5%;
}

.activity-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity-container-top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: left;
}

.p-2 {
  font-size: 14px;
  color: #737373;
  margin-top: 10px;
  line-height: 1.5;
}

.h1-2 {
  font-weight: bold;
  font-size: 35px;
  margin: 10px 0;
}

.activity-container-bottom {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
  justify-content: start;
  flex-wrap: wrap;
}

.activity-container-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  padding: 35px 40px;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  max-width: 350px;
}

.h4-2 {
  margin: 20px 0 15px 0;
  font-weight: 600;
  font-size: 16px;
}

.phone-image {
  max-width: 72px;
  height: auto;
}

.line-image {
  width: 50px;
  height: auto;
  margin: 10px 0;
}

/* Content section */
.content {
  width: 100%;
  max-width: 100%;
  padding: 150px 5%;
  background-color: #FFDCD1;
}

.content-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content-container-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 600px;
  gap: 20px;
}

.content-container-left .h4-1{
  text-decoration: none;
}

.content-container-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.content-image {
  max-width: 100%;
  height: auto;
}

.content-container-left .line-image{
  width: 80px;
  height: 6px;
}

/* Specialities section */
.specialities {
  width: 100%;
  max-width: 100%;
  padding: 150px 5%;
}

.specialities-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specialities-container-top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: left;
}

.specialities-container-bottom {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  justify-content: start;

}

.specialities-sales{
  display: flex;
  gap: 10px;
  color: #737373;
  font-weight: bold;
  font-size: 14px;
}

.specialities-price{
  display: flex;
  gap: 6px;
}

.specialities-price1{
  color: #BDBDBD;
}

.specialities-price2{
  color: #40BB15;
}

.specialities-details{
  display: flex;
  gap: 14px;
  color: #737373;
  font-weight: 600;
  font-size: 10px;

}

.specialities-details span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.specialities-details img {
  width: 18px;
  height: 18px;
}

.specialities-btn {
  color: #23A6F0;
  border: 1px solid #23A6F0;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  width: fit-content;
}

.specialities-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  gap: 15px;
}

.specialities-box .h4-1{
  font-size: 16px;
  margin: 0;
}

.specialities-box .h4-2{
  margin: 0;
}

/* Pricing section */
.pricing {
  width: 100%;
  max-width: 100%;
  padding: 150px 5%;
}

.pricing-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pricing-container-top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: left;
}

.pricing-container-bottom {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  justify-content: start;
  flex-wrap: wrap;
}

.pricing-box{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  gap: 10px;
  padding: 50px;
  flex: 1;
}

.pricing-box h2{
  margin-bottom: 6px;
}


.pricing-box .pricing-image{
  max-width: 100%;
  height: auto;
  width: 40%;

}


.p-3{
  font-weight: 600;
  color: #737373;
}

.pricing-price{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.h1-3{
  margin-bottom: 0px;
  color: #23A6F0;
}

.h6-1{
  margin-top: 0px;
  font-size: 10px;
  color: #8EC2F2;
}

.pricing-btn{
  padding: 15px 20px;
  color:white;
  font-weight: bold;
  background-color: #23A6F0;
  border:none;
  border-radius: 5px;
}

.pricing-details{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 15px;
  font-size: 13px;
}

.pricing-details-1{
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Reviews section */
.reviews{
  width: 100%;
  max-width: 100%;
  padding: 150px 5%;
}

.reviews-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-container-top{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: left;
}

.reviews-container-bottom{
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 20px;
  justify-content: start;
}

.review-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  flex: 1;
}

.review-box-identity img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
}

.review-box-identity{
   display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
  justify-content: center;
}

.review-box-identity-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2px;
}

.review-box-identity-text h4{
  margin: 0;
}

.review-box-identity-text p {
  margin: 0;
}

/* Newsletter section */
.newsletter{
  width: 100%;
  max-width: 100%;
  padding: 150px 5%;
}

.newsletter-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.newsletter-container .h4-1 {
  margin: 0;
}

.newsletter-container .h1-2{
  margin: 0;
}

.newsletter-container .p-2{
  font-size: 14px;
  margin: 0;
}

.newsletter-container form{
  display: flex;
  width: 100%;
  max-width: 700px;
}

.newsletter-input{
  flex: 1;
  padding: 18px 25px;
  border: 1px solid #d6d6d6;
  border-right: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: #333;
}

.newsletter-btn{
  padding: 20px 40px;
  background-color: #33A9FF;
  color: white;
  border: none;
  font-size: 16px;
}

.footer{
  width: 100%;
  max-width: 100%;
  padding: 150px 5%;
}

.footer-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
}

.footer-top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}


.footer-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  min-width: 200px;
}



.footer-box a{
  text-decoration: none;
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-bottom-left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-bottom-right{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-bottom p{
  color: #737373;
  font-weight: 600;
  font-size: 15px;

}



@media (max-width: 1200px) {
  .navbar {
    padding: 15px 3%;
  }
  
  .header-container {
    padding: 50px 3%;
  }

  .h1-1 {
    font-size: 45px;
  }

  .activity {
    padding: 60px 3%;
  }

  .content{
    padding: 60px 3%;
  }

  .specialities{
    padding: 60px 3%;
  }

  .pricing{
    padding: 60px 3%;
  }

  .reviews{
    padding: 60px 3%;
  }

  .newsletter{
    padding: 60px 3%;
  }

  .footer{
    padding: 60px 3%;
  }


}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
    padding: 20px 3%;
  }

  .nav-left {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav-right {
    width: 100%;
    justify-content: center;
  }

  .header-container {
    flex-direction: column;
    padding: 30px 5%;
    text-align: center;
    gap: 30px;
  }

  .header-container-left {
    align-items: center;
    max-width: 100%;
  }

  .header-container-right {
    max-width: 400px;
  }

  .p-1 br {
    display: none;
  }

  .activity-container-top {
    text-align: center;
    align-items: center;
  }

  .p-2 br {
    display: none;
  }

  .activity-container-bottom {
    gap: 20px;
  }

  .activity-container-box {
    min-width: 250px;
  }

  .content-container {
    flex-direction: column;
    text-align: center;
  }

  .content-container-left {
    max-width: 100%;
    align-items: center;
  }

  .content-container-right {
    max-width: 400px
  }

  .specialities-container-top {
    text-align: center;
  }

  .specialities-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .specialities-box{
    min-width: 50%;
    max-width: 50%;
    padding-bottom: 20px;
  }

  .pricing-container{
    justify-content: center;
    text-align: center;
    padding: 50px;
  }

  .pricing-container-top{
    text-align: center;
  }

  .pricing-container-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pricing-box{
    min-width: 70%;
    max-width: 70%;
  }

  .pricing-image{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .reviews-container{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .reviews-container-top{
    text-align: center;
  }

  .reviews-container-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review-box{
    min-width: 40%;
    max-width: 40%;
    padding-bottom: 70px;

  }

  .newsletter-container{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-container{
    display: flex;
    flex:1;
  }

  .footer-top{
    flex: 1;
    gap: 20px;
    justify-content: left;
    align-items: left;
  }

}

@media (max-width: 576px) {
  .navbar {
    padding: 15px 5%;
  }

  .nav-left {
    flex-direction: column;
    gap: 15px;
  }

  .navlinkA {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .h1-1 {
    font-size: 38px;
  }

  .container-left-btn {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .btn-1, .btn-2 {
    width: 100%;
  }

  .header-container {
    padding: 30px 5%;
  }

  .header-container-right {
    max-width: 200px;
  }

  .activity {
    padding: 40px 5%;
  }

  .h1-2 {
    font-size: 28px;
  }

  .activity-container-bottom {
    gap: 20px;

    justify-content: center;
    align-items: center;
  }

  .activity-container-box {
    min-width: 100%;
    max-width: 100%;
  }

  .content-container{
    padding: 20px 5%;
  }

  .content-container-right{
    max-width: 250px;
  }

  .specialities-container-bottom {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .specialities-box{
    min-width: 90%;
    max-width: 90%;
  }

  .pricing-box{
    min-width: 100%;
    max-width: 100%;
  }

  .reviews-container-bottom{
    gap: 20px;
  }

  .review-box{
    min-width: 40%;
    max-width: 40%;
  }

  .newsletter-container{
    padding: 20px 5%;
  }

  .newsletter-container form{
    flex-direction: column;
    gap: 20px;
  }

  .newsletter-input{
    border-right: 1px solid #d6d6d6;
  }

  .footer-container{
    padding: 20px 5%;
  }
}

@media (max-width: 400px) {
  .appname {
    font-size: 20px;
  }

  .h1-1 {
    font-size: 32px;
  }

  .navlinkA {
    gap: 10px;
  }

  .navlinkA li a {
    font-size: 14px;
  }

  .activity-container-box{
    min-width: 100%;
    max-width: 100%;
  }

  .pricing-box{
    min-width: 100%;
    max-width: 100%;
  }

  .review-box{
    min-width: 100%;
    max-width: 100%;
  }

  .footer-box{
    min-width: 100%;
    max-width: 100%;
  }
}

